@import './fonts.css';

* {
    margin: 0;
    padding: 0;
    font-family: LatoBold, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    width: 1020px;
    margin: auto;
}

.portfolio {
    background-color: #2d303a;

    border-bottom: 6px solid #323746;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

.portfolio .wrapper {
    height: 864px;
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    font-family: LatoBlack, sans-serif;
    margin-top: 60px;
    font-size: 3rem;
    color: #666d89;
    letter-spacing: 0.3px;
    cursor: default;
}

.portfolio__description {
    color: #666d89;
    font-family: LatoLight, sans-serif;
    font-size: 1.8rem;
    cursor: default;
    line-height: 2;
    margin-top: 15px;
    margin-bottom: 0px;
    letter-spacing: -0.2px;
}

.tag {
    color: #666d89;
    font-family: LatoRegular, sans-serif;
    font-size: 1.1rem;
    cursor: default;
    line-height: 0;
    font-weight: 300;
    letter-spacing: 0px;
    padding: 3px 8px 4px 8px;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-right: 7px;
}

.tag:hover {
    cursor: pointer;
    color: #fff;
    border-color: #fff;
}

.tag_selected {
    color: #fff;
    border-color: #fff;
}

.portfolio__tags {
    margin-top: 7px;
}

.layout-4-column {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 621px;
}

.layout-4-column img {
    width: 220px;
    height: 187px;
    margin-top: 20px;
    margin-right: 20px;
}

.layout-4-column img:nth-child(4n){
    margin-right: 0px;
}

.about-us {
    width: 1020px;
    margin: auto;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

.about-us .wrapper {
    height: 728px;
    display: flex;
    flex-direction: column;
}

.about-us__title {
    font-family: LatoBlack, sans-serif;
    margin-top: 60px;
    font-size: 3rem;
    color: #666d89;
    letter-spacing: 0px;
    cursor: default;
}

.about-us__description {
    color: #767e9e;
    font-family: LatoLight, sans-serif;
    font-size: 1.8rem;
    cursor: default;
    line-height: 1.8;
    margin-top: 15px;
    margin-bottom: 0px;
    letter-spacing: -0.1px;
}

.layout-3-column {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
}

.employee {
    width: 300px;
    height: 460px;
    margin-right: 20px;
}

.employee:nth-child(3n) {
    margin-right: 0;
}

.employee__title {
    margin-top: 13px;
    font-size: 1.8rem;
    letter-spacing: -0.1px;
    font-family: LatoBlack, sans-serif;
    cursor: default;
    color: #666d89;
    white-space: nowrap;
    overflow: hidden;
}

.employee__description {
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: 0px;
    font-family: LatoRegular, sans-serif;
    cursor: default;
    color: #767e9e;
    line-height: 1.7;
}

.employee__social-networks {
    margin-top: 24px;
}

.employee__social-networks a {
    cursor: default;
}

.employee__social-networks img {
    margin-right: 4px;
}

.employee__social-networks img:hover {
    filter: brightness(0);
    cursor: pointer;
}
